<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Coders Chat</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<header id="header">
		<div id="logo">
			<img src="images/logo.svg" alt="Coders Chat Logo">
		</div>
	</header>
	<main id="app">
		<section class="form-container">
			<h3>Chat, Connect, and ask for support from thousand of coders around the world!</h3>
			<label for="nickname">Your Code Name <small>(optional)</small></label>
			<input type="text" id="nickname" class="nickname" placeholder="What is your nickname?">

			<form>
				<label for="message">Your Message</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Let's solve this bug!"></textarea>
				<input @click.prevent="dispatchMessage" type="submit">
			</form>
		</section>

		<section class="messages">
			<ul id="messages" >
				<!-- render a new message component for every message -->
				<newmessage :msg="message" v-for="message in messages"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>